/* presets.css
Contains the default stylings for most of the page.
Also defines the appearance of pre-defined classes/tags.
 */

/* Variables and page defaults */
:root {
    --main-bg-color: #1C1C1C;
    --light-bg-color: #2C2C2C;

    --main-text-color: #DFDFDF;
    --dim-text-color: #9A9A9A;
    --header-text-color: #FFFFFF;

    --accent-color: #C8553D;
}

html {
    height: 100%;

    font-family: "Arial", sans-serif;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);

    padding: 0 0;
    margin: 0 0;
    height: 100%;
}

/* Tag Defaults */

h1, h2, h3 {
    color: var(--header-text-color);
}

h1 {
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
}

h2, h3 {
    margin-top: 1em;
    margin-bottom: 0.3rem;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}

a {
    color: lightskyblue;
}

ul {
    margin-top: 0;
}

p {
    margin: 0.5em 0 0.1em 0;
}

img {
    margin: 0.5em 0.5em;
}


/* Header and Footer */

.content-wrapper {
    display: flex;
    flex-direction: column;

    min-height: 100%;
}
.content-wrapper>div {
    flex-grow: 1;
}

header {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    padding: 1em 1em;
    margin-bottom: 1em;
    width: 100%;
    z-index: 1;

    background-color: var(--light-bg-color);
    box-shadow: 0 1em 1.5em 0 rgba(0, 0, 0, 0.2);

    color: var(--accent-color);
}

footer {
    height: 3em;
    width: 100%;
    margin: 1em 0 0 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--light-bg-color);
    box-shadow: 0 -1em 1.5em 0 rgba(0, 0, 0, 0.2);
}


/* Custom preset classes */

nav {
    margin: 0.5em 0;
}

.navlink:link, .navlink:visited {
    margin: 0.1em 0;

    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.navlink:hover, .navlink:active {
    background-color: red;
}

.section {
    margin: 0.5em 0.5em;
    padding: 1rem 1rem;

    display: block;

    background-color: var(--light-bg-color);
    box-shadow: 0 0.5em 1.5em 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
}