#project-container {
    margin: 0em 2em 0em;

    justify-content: center;
    flex-direction: row;
}

@media (max-width: 1400px) {
    #project-container {
        flex-direction: column;
        justify-content: flex-start;
    }
}

#project-container>div:nth-child(1) {
    margin-right: 1em;
}

#project-container>div:nth-child(2) {
    margin-left: 1em;
}

#project-info>div {
    margin-bottom: 1em;
}

#project-info>div:last-of-type {
    margin-bottom: 0;
}

#project-info {
    flex-basis: 40em;

    max-width: 70em;
    max-height: max-content;

    margin-bottom: 1em;
}

#project-name {
    margin: 0.1em 0;
}

#project-date {
    font-style: italic;
    font-weight: bold;
}

.download-link:link, .download-link:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.download-link:hover, .download-link:active {
    background-color: red;
}

.tag {
    margin: 0 0.5em 0 0;
    padding: 0.2em 0.2em;
    background-color: green;
    color: white;
}

.bottom-space {
    margin-bottom: 0.5em;
}


iframe {
    border: none;
}
