#project-container {
    margin: 1em 2em;

    justify-content: center;
}

#project-container>div:nth-child(1) {
    margin-right: 1em;
}

#project-container>div:nth-child(2) {
    margin-left: 1em;
}

#project-info>div {
    margin-bottom: 1em;
}

#project-name {
    margin-bottom: 0.1em;
}

#project-date {
    font-style: italic;
    font-weight: bold;
}

#project-description {
    max-width: 40em;
}

#project-remarks>ul, #project-remarks>h3 {
    margin: 0.1em 0;
}

.download-link:link, .download-link:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.download-link:hover, .download-link:active {
    background-color: red;
}


.flex-h {
    display: flex;
    flex-direction: row;
}

.tag {
    margin: 0 0.5em 0 0;
    padding: 0.2em 0.2em;
    background-color: green;
    color: white;
}

.grid {
    display: grid;
    gap: 1em;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

.bottom-space {
    margin-bottom: 0.5em;
}
