.col-accent {
    color: var(--accent-color);
}

.col-dim {
    color: var(--dim-text-color);
}

.text-lg {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.ul-flat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.space-y-4 > :not(:first-child) {
    margin-top: 1rem;
}

.bg-light {
    background-color: var(--light-bg-color);
}

.rounded-4 {
    border-radius: 1rem;
}

.hover-highlight:hover {
    filter: brightness(120%);
}

.no-underline {
    text-decoration: none;
}
