/* Main page stylings */
:root {
    --main-bg-color: #1C1C1C;
    --light-bg-color: #2C2C2C;
    --main-text-color: #DFDFDF;
    --header-text-color: #FFFFFF;

    --accent-color: #C8553D;
}

html {
    height: 100%;

    font-family: "Arial", sans-serif;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);

    padding: 0 0;
    margin: 0 0;
    height: 100%;
}

h1, h2, h3 {
    color: var(--header-text-color);
}

a {
    color: inherit;
    text-decoration: none; /* no underline */
}

/* Header and Footer */
.content-wrapper {
    display: flex;
    flex-direction: column;

    min-height: 100%;
}
.content-wrapper>div {
    flex-grow: 1;
}

header {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    padding: 1em 1em;
    margin-bottom: 1em;
    width: 100%;

    background-color: var(--light-bg-color);
    box-shadow: 0 1em 1.5em 0 rgba(0, 0, 0, 0.2);

    color: var(--accent-color);

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.navlink:link, .navlink:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.navlink:hover, .navlink:active {
    background-color: red;
}

footer {
    height: 3em;
    width: 100%;
    margin: 1em 0 0 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--light-bg-color);
    box-shadow: 0 -1em 1.5em 0 rgba(0, 0, 0, 0.2);
}

/* */

project-list {
    display: flex;
    flex-flow: row wrap;

    justify-content: center;
}

project {
    width: 25em;
    height: 9em;
    margin: 1em 1em;
    box-sizing: border-box;

    display: block;

    background-color: var(--light-bg-color);
    box-shadow: 0 0.5em 1.5em 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;

    transform: none;
    transition: box-shadow 0.25s, transform 0.25s;
}

project h3 {
    margin: 0.5em 0 0 0;
    text-decoration: underline;
}

project a {
    width: 100%;
    height: 100%;
}

project:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5em 1.5em 0 rgba(0, 0, 0, 0.4);
}